.bgimage {
  width: 200vh;
}

.companybtn {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	user-select: none; /* Standard */
	font-family: "Open Sans", sans-serif;
	background-color: transparent;
	border: none;	
	text-align: center;
	cursor: pointer;
	height: 60px;
	width: 225px;
	position: absolute;
	left: 160px;
	bottom: 218px;
  }



  .individualBtn {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	user-select: none; /* Standard */
	font-family: "Open Sans", sans-serif;
	font-size: 14pt;
	background-color: transparent;
	border: none;	
	text-align: center;
	cursor: pointer;
	height: 60px;
	width: 225px;
	position: absolute;
	left: 408px;
	bottom: 218px;
}

.pay-bills {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	user-select: none; /* Standard */
	font-family: "Gilroy-ExtraBold";
	font-size: 14pt;
	background-color: transparent;
	text-align: center;
	cursor: pointer;
	height: 80px;
	width: 350px;
	position: absolute;
	left: 620px;
	bottom: 11px;
	color: white;
	border: none;
}

.clickable {
	width: 200px;
	height: 80px;
	position: absolute;
	top: 42px;
	left: 60px;
}

.upload {
	width: 375px;
	height: 84px;
	position: absolute;
	top: 275px;
	left: 580px;
	background-color: transparent;
}

.choose {
	width: 170px;
	height: 50px;
	position: absolute;
	bottom: -15px;
	right: 240px;
	background-color: transparent;
}

a.fill-div {
	display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
