.bgimage {
  width: 200vh;
}

.companybtn {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	user-select: none; /* Standard */
	font-family: "Open Sans", sans-serif;
	font-size: 14pt;
	background-color: transparent;
	border: none;	
	text-align: center;
	cursor: pointer;
	height: 45px;
	width: 165px;
	position: absolute;
	left: 120px;
	bottom: 162px;
  }



  .individualBtn {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	user-select: none; /* Standard */
	font-family: "Open Sans", sans-serif;
	font-size: 14pt;
	background-color: transparent;
	border: none;	
	text-align: center;
	cursor: pointer;
	height: 45px;
	width: 169px;
	position: absolute;
	left: 306px;
	bottom: 162px;
}

.pay-bills {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	user-select: none; /* Standard */
	font-family: "Gilroy-ExtraBold";
	font-size: 14pt;
	background-color: transparent;
	text-align: center;
	cursor: pointer;
	height: 50px;
	width: 255px;
	position: absolute;
	left: 469px;
	bottom: 11px;
	color: white;
	border: none;
}

.clickable {
	width: 200px;
	height: 80px;
	position: absolute;
	top: 30px;
	left: 50px;
}

.upload {
	width: 443px;
	height: 114px;
	position: absolute;
	top: 238px;
	left: 490px;
}

.use-template {
	width: 443px;
	height: 114px;
	position: absolute;
	top: 238px;
	left: 967px;
}

a.fill-div {
	display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
